/* Information */
#info
{
    display: flex;
}

.texte_info
{
    margin-left: 1%;
}
.logo_info
{
    width: 2%;
    height: 1%;
    padding-top: 0.5%;
}



/* Footer */
#footer
{
    background-color: #DEEBFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.propos , .nos_hebergements , .assistance
{
    display: flex;
    flex-direction: column;
    height: 11rem;
    width: 29rem;
}
a:link, a:active, a:visited, a:hover
{ 
    text-decoration:none; 
    color: black;


} 

/* Temporaire */
.propos 
{
    background-color: blue;
}

.nos_hebergements
{
    background-color: red;
}

.assistance
{
    background-color: green;
}