/* Header */

#titre
{
    display: flex;
    justify-content: space-between;

}

#menu
{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.ancres:hover
{
   color: #0065FC;
   border-top: 3px solid #0065FC;
   
}

.ancres_inscrire:link, .ancres_inscrire:hover , .ancres_inscrire:visited, .ancres_inscrire:link:active
{
    color: #0065FC;
}


/* Information */
#info
{
    display: flex;
}

.texte_info
{
    margin-left: 1%;
}
.logo_info
{
    width: 2%;
    height: 1%;
    padding-top: 0.5%;
}



/* Footer */
#footer
{
    background-color: #DEEBFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.propos , .nos_hebergements , .assistance
{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 455px;
    margin-left: 15px;

}
a:link, a:active, a:visited, a:hover
{ 
    text-decoration:none; 
    color: black;


} 

/* Temporaire */
.propos 
{
    background-color: blue;
}

.nos_hebergements
{
    background-color: red;
}

.assistance
{
    background-color: green;
}

