@font-face {
    font-family: "raleway";
    src: url("font/Raleway-VariableFont_wght.ttf");
}   

@font-face 
{
	font-family: "Raleway";
	src: url('font/Raleway-Regular.ttf');
}

@font-face 
{
	font-family: "Raleway";
	font-weight: bold;
	src: url('font/Raleway-Bold.ttf');
}

h1{
    font-size: 17px;
}

h2{
    font-size: 16px;
}

body{
    margin: 0%;
    font-family: "raleway", Arial, Helvetica, sans-serif;
}

    a:link, a:active, a:visited, a:hover
    { 
        text-decoration:none; 
        color: black;
        cursor:  pointer;
    } 


    ::placeholder{
        color: black;
    }

    /* Header */
    #titre{
        display: grid;
        grid-template-columns: 0.3fr 1fr 6fr 2fr 1fr 0.3fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: 
        ". . . . . ."
        ". logo . nav inscription .";
    }

    .logo{
        grid-area: logo;
        display: flex;
        align-items: flex-end;
        margin-left: 15px;
    }
        .logo_reservia{
            width: 100px;
        }

    #barre_nav{
        grid-area: nav;

        display: grid;
    }

        .barre_nav{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "heber_nav acti_nav";

            list-style: none;
            margin-block-start: 5%;
        }


            .hebergements{
                display: flex;
                justify-content: center;
                grid-area: heber_nav;
                grid-row: span 1;
            }

            .activités{
                display: flex;
                justify-content: center;
                grid-area: acti_nav;
            }

    .inscrire{
        grid-area: inscription;
        display: flex;
        justify-content: center;
        align-items: center;
    }





    .ancres_hebergements:link, .ancres_hebergements:active , .ancres_hebergements:hover, .ancres_hebergements:visited{
        
        color: #0065FC;
        border-top: solid #0065FC;
        padding-top: 35px;
    }


    .ancres_activités:hover{
        color: #0065FC;
        border-top: solid #0065FC;
        padding-top: 35px;
    }


    .ancres_inscrire:active, .ancres_inscrire:hover, .ancres_inscrire:visited, .ancres_inscrire:link{
        color: #0065FC; 
    }
    .ancres_inscrire:hover{
        color: #0065FC;
        border-top: solid #0065FC;
        padding-top: 35px;
    }



    /* Body */
    #body1{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 0.2fr 6fr 2fr 0.2fr;;
        grid-gap: 35px;
        grid-template-areas:
        ". recherche recherche1 ." 
        ". hebergements populaires ."
        ". acti acti1 .";
        }    


            /* Formulaire */

        #recherche{
            grid-area: recherche;
            grid-column: 2 /span 2;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
            grid-template-areas: 
            "titre_recherche"
            "insert_recherche"
            "filtres_recherche"
            "info_recherche";
        }

        .texte_recherche{
            grid-area: titre_recherche; 
        }

        



        .champ_recherche{
            grid-area: insert_recherche;
        }

            .recherche_box{
                display: flex;

            }

                .recherche_icon{
                    display: flex;
                    
                    align-items: center;
                    justify-content: center;
                    font-size: 15px;
                    border: solid #F2F2F2 0.5px;
                    width: 40px;
                    height: 40px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background-color: #F2F2F2;

                }


                .recherche_input{
                    border: solid #F2F2F2 0.5px;
                    font-weight: bold;
                    padding-left: 1%;
                    width: 215px;
                }


                .recherche_bouton{

                    border: none;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    height: 42px;
                    font-size: 16px;
                    color: white;
                    background-color: #0065FC;
                }

                .recherche_bouton_icon{
                    display: none;
                }


        .filtres{
            grid-area: filtres_recherche;

            display: grid;
            grid-template-columns: 0.3fr 1fr 0.8fr 1fr 1.2fr 3fr;
            grid-template-rows: 1fr;
            grid-gap: 20px;        
            grid-template-areas: 
            "txt eco fami roman anim";
        }

            .filtres_titre{
                grid-area: txt;
                display: flex;
                font-weight: bold;
            }

            #economique{
                grid-area: eco;

                display: grid;
                grid-template-columns: 2fr 8fr;
                grid-template-areas: 
                "logo_eco txt_eco";

                border: solid#F2F2F2 2px;
                border-radius: 30px;
                
            }

            
                .logo_filtre_eco{
                    grid-area: logo_eco;
                    width: 50px;
                    height: 50px;
                    border-radius: 55px;
                    background-color: #DEEBFF;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    
                }

                .texte_filtre_eco{
                    grid-area: txt_eco;    
                    display: flex;
                    justify-content: center;     
                    font-weight: 900;         
                }

            #familial{
                grid-area: fami;

                display: grid;
                grid-template-columns: 2fr 8fr;
                grid-template-areas: 
                "logo_fami txt_fami";

                border: solid #F2F2F2 2px;
                border-radius: 30px;
                
            }

                .logo_filtre_fami{
                    grid-area: logo_fami;
                    width: 50px;
                    height: 50px;
                    border-radius: 55px;
                    background-color: #DEEBFF;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .texte_filtre_fami{
                    grid-area: txt_fami;
                    display: flex;
                    justify-content: center;
                    font-weight: 900;
                }

            #romantique{
                grid-area: roman;

                display: grid;
                grid-template-columns: 2fr 8fr;
                grid-template-areas: 
                "logo_rom txt_rom";

                border: solid #F2F2F2 2px;
                border-radius: 30px;
                
            }

                .logo_filtre_rom{
                    grid-area: logo_rom;
                    width: 50px;
                    height: 50px;
                    border-radius: 55px;
                    background-color: #DEEBFF;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .texte_filtre_rom{
                    grid-area: txt_rom;
                    display: flex;
                    justify-content: center;
                    font-weight: 900;
                }

            #animaux{
                grid-area: anim;

                display: grid;
                grid-template-columns: 2fr 8fr;
                grid-template-areas: 
                "logo_ani txt_ani";

                border: solid #F2F2F2 2px;
                border-radius: 30px;
                
            }

                .logo_filtre_ani{
                    grid-area: logo_ani;
                    width: 50px;
                    height: 50px;
                    border-radius: 55px;
                    background-color: #DEEBFF;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .texte_filtre_ani{
                    grid-area: txt_ani;
                    display: flex;
                    justify-content: center;
                    font-weight: 900;
                }


            .logo_filtre_eco, .logo_filtre_fami, .logo_filtre_rom, .logo_filtre_ani{
                align-self: center;
                color: #0065FC;
                background-color: #DEEBFF;
                
            }


            .texte_filtre{
                margin-block-start: 0em;
                margin-block-end: 0em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                align-self: center;
            }

            #economique:hover ,#familial:hover, #romantique:hover, #animaux:hover{
                background-color: #F2F2F2 ;
            }




        #info{
            grid-area: info_recherche;
            display: flex;
            align-items: center;
            margin-block-start: 2%;
            
        }

        
        .info_icon{
            width: 30px;
            height: 30px;
            color: #0065FC;
            border: solid #F2F2F2 2px;
            border-radius: 20px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .texte_info{
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 15px;
            margin-inline-end: 0px;
        }

        /* Hebergements à Marseille */
        #hebergements{
            grid-area: hebergements;
            background-color: #F2F2F2;
            border-radius: 30px;

            display: grid;
            grid-template-rows:0.8fr 2fr 2fr 0.5fr;
            grid-template-columns: 20px repeat(3, 2fr) 20px;
            grid-gap: 15px;
            grid-column-gap: 20px;
            grid-template-areas: 
            ". titre titre1 titre2 ."
            ". annonce1 annonce2 annonce3 ."
            ". annonce4 annonce5 annonce6 ."
            ". afficher afficher1 afficher2 .";
        }

            .hebergements_titre{
                grid-area: titre;
                margin-block-start: 2%;
                margin-inline-start: 0%;
                grid-column: 2 /span 3;
            }

            .hebergements_box1{
                grid-area: annonce1;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                width: 100%;
                
                justify-self: center;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
            }

            .hebergements_box2{
                grid-area: annonce2;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                width: 100%;
                
                justify-self: center;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
            }

            .hebergements_box3{
                grid-area: annonce3;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                width: 100%;
                
                justify-self: center;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
            }

            .hebergements_box4{
                grid-area: annonce4;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                width: 100%;
                
                justify-self: center;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
            }

            .hebergements_box5{
                grid-area: annonce5;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                width: 100%;
                
                justify-self: center;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
            }

            .hebergements_box6{
                grid-area: annonce6;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                width: 100%;
                ;
                
                justify-self: center;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
            }

            .hebergements_image
            {
                width: 100%;
                height: 100px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                object-fit: cover;
            }

            .texte_hebergementsbox{
                display: flex;
                flex-direction: column;
            }

            .titre_hebergementbox{
                margin-left: 10px;
                margin-block-end: 0em;
                margin-block-start: 5px;
            }

            .tarif_hebergementsbox{
                margin-left: 10px;
                margin-block-end: 0px;
                margin-block-start: 3%;
                
            }

            .hebergements_lien{
                grid-area: afficher;
                font-size: 20px;
                font-weight: bold;
                margin-inline-start: 5%;
                margin-top: 3%;
            }

            .note{
                display: flex;
                margin-left: 10px;
                margin-block-end: 0px;
                margin-block-start: 3%;
            }

            .note_bleu{
                color: #0065FC;
            }

            .note_gris{
                color: #F2F2F2;
            }

        /* Les plus populaires */
        #populaires{
            grid-area: populaires;
            background-color: #F2F2F2;
            border-radius: 30px;


            display: grid;
            grid-template-columns: 30px 7fr 30px;
            grid-template-rows: 10px 0.3fr 0.8fr 0.8fr 0.8fr 10px;
            grid-row-gap: 15px;
            grid-template-areas: 
            ". . ."
            ". populairetitre ."
            ". populaire1 ."
            ". populaire2 ."
            ". populaire3 .";
        }

            .populaires_titre{
                grid-area: populairetitre;
                display: flex;
                justify-content: space-between;
                margin-top: -9px;
        
            }

            .populaires_icon{
                font-size: 20px;
                display: flex;
                padding-top: 13px;
            }

            .populaires_box1{
                grid-area: populaire1;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                display: flex;
                flex-direction: row;
                align-self: center;
                max-height: 125px;
                width: 380px;
                box-shadow: 1px 1px 1px 1px rgb(221, 221, 221);
            }

            .populaires_box2{
                grid-area: populaire2;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                display: flex;
                flex-direction: row;
                align-self: center;
                max-height: 125px;
                width: 380px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
            }

            .populaires_box3{
                grid-area: populaire3;
                border: solid white 6px;
                background-color: white;
                border-radius: 30px;
                display: flex;
                flex-direction: row;
                align-self: center;
                max-height: 125px;
                width: 380px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
            }

            .populaires_image{
                width: 150px;
                height: 125px;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                object-fit: cover;
                padding-right: 15px;
            }

            .populaires_box_titre{
                margin-block-end: 0em;
                margin-inline-start: 5%;
                margin-inline-end: 0px;
                margin-block-start: 0em;
            }
            
            .populaire_texte{
                margin-block-start: 5%;
                margin-inline-start: 5%;
                
            }

            .note_populaire{
                display: flex;
                flex-direction: row;
                
                margin-block-end: 0px;
                margin-inline-start: 5%;
                margin-block-start: 13%;
            }

        /* Activités à Marseille */

        #activités{
            grid-area: acti;
            grid-column: 2 / span 2;

            display: grid;
            grid-template-columns:repeat(4,2fr);
            grid-column-gap: 40px;
            grid-template-areas:
            ". . . ."
            "activitéstitre . . ."
            "activités1 activités2 activités3 activités4"
            "activités5 activités6 activités7 activités8";
        }

            .activité_titre{
                grid-area: activitéstitre;
            }


            .activité_box1{
                grid-area: activités1 ;
                grid-row: 3 / span 2;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 60px;
            }

            .activité_box2{
                grid-area: activités2;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-block-end: 7%;
            }

            .activité_box3{
                grid-area: activités6;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 60px;
            }

            .activité_box4{
                grid-area: activités3;
                grid-row: 3 / span 2;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 60px;
            }

            .activité_box5{
                grid-area: activités4;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-block-end: 35%;
            }

            .activité_box6{
                grid-area: activités8;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 60px;
                margin-top: -95px;
            }


            .activité_image_fort
            {
                width: 100%;
                height: 215px;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }

            .activité_image_ile{
                width: 100%;
                height: 115px;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }

            .activité_image_dame
            {
                width: 100%;
                height: 115px;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }

            .activité_image_parc
            {
                width: 100%;
                height: 230px;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }


            .activité_image_span
            {
                width: 100%;
                height: 430px;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }

            .activité_box_texte{
                margin-inline-start: 15px;
                font-size: 15px;
            }
        


        /* Footer */
        #footer{
            background-color: #F2F2F2 ;
            display: grid;
            grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
            grid-template-rows: 2fr 1fr 1fr 1fr;
            grid-template-areas: 
            ". p h a ."
            ". f ch ce ."
            ". co s n ."
            ". d . . .";
        }

        .propos{
            grid-area: p;
        }

        .f{
            grid-area: f;
        }

        .co{
            grid-area: co;
        }

        .d{
            grid-area: d;
        }

        .nos_hebergements{
            grid-area: h;
        }

        .ch{
            grid-area: ch;
        }

        .s{
            grid-area: s;
        }
        .assistance{
            grid-area: a;
        }

        .ce{
            grid-area: ce;
        }

        .n{
            grid-area: n;
        }



@media (max-width: 1200px){

    #titre{
        display: grid;
        padding-top: 20px;
        grid-template-columns: 1fr 2fr 1fr ;
        grid-template-areas:
        " logo . inscription "
        " nav nav nav ";
    }



    .logo{
        grid-area: logo;
        display: flex;
        align-items: flex-end;
        margin-left: 15px;
    }
        .logo_reservia{
            width: 100px;
        }

    #barre_nav{
        grid-area: nav /span 4 ;

    }

        .barre_nav{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "heber_nav acti_nav";

            list-style: none;
            margin-block-start: 5%;
            padding-inline-start: 0px;
        }


            .hebergements{
                display: flex;
                justify-content: center;
                grid-area: heber_nav;
                color: #0065FC;
                border-bottom: solid #0065FC;
                padding-bottom: 15px;
                padding-inline-start: 0px;
            }
                .ancres_hebergements:link{
                    border-top: none;
                }

            .activités{
                display: flex;
                justify-content: center;
                grid-area: acti_nav;
                border-bottom: solid #F2F2F2;
                padding-bottom: 15px;
                padding-inline-start: 0px;
            }

            .activités:active{
                display: flex;
                justify-content: center;
                grid-area: acti_nav;
                border-bottom: solid #F2F2F2;
                padding-bottom: 15px;
                padding-inline-start: 0px;
            }

            .ancres_activités:hover, .ancres_activités:active, .ancres_activités:link{
                border: none;
                color: black;
            }

    .inscrire{
        grid-area: inscription;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        font-weight: 900;
    }




    #body1{
        display: grid;
        grid-template-columns: 6fr;;
        grid-gap: 0px;
        row-gap: 15px;
        grid-template-areas:
        "recherche"
        "populaires"
        "hebergements"
        "acti";
    }    

        #recherche{
            grid-area: recherche;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
            grid-template-areas: 
            "titre_recherche"
            "insert_recherche"
            "filtres_recherche"
            "info_recherche";
        }

            .filtres{
                grid-area: filtres_recherche;

                display: grid;
                grid-template-columns: 0.3fr 1.1fr 0.8fr 1.2fr 1.3fr ;
                grid-template-rows: 1fr;
                grid-gap: 5px;        
                grid-template-areas: 
                "txt eco fami roman anim";
            }

        #hebergements{
            grid-area: hebergements;
            background-color: white;
            border-radius: 30px;
       
            display: grid;
            grid-template-rows:0.5fr 1fr 1fr 1fr 0.5fr;
            grid-gap: 10px;
            grid-template-columns: 20px repeat(2, 2fr) 20px;
            grid-template-areas: 
                ". titre titre1 ."
                ". annonce1 annonce2  ."
                ". annonce3 annonce4 ."
                ". annonce5 annonce6 ."
                ". afficher afficher1 .";
        }
            .hebergements_box1, .hebergements_box2, .hebergements_box3, .hebergements_box4, .hebergements_box5, .hebergements_box6{
                width: 80%;
            }
    

        #populaires{
            grid-area: populaires;
            background-color: #F2F2F2;
            border-radius: 0px;


            display: grid;
            grid-gap: 20px;
            grid-template-columns: 70px 7fr 70px;
            grid-template-rows: 5px 1fr 2fr 2fr 2fr;
            grid-template-areas: 
            ". . ."
            ". populairetitre ."
            ". populaire1 ."
            ". populaire2 ."
            ". populaire3 .";
        }

        .populaires_box1, .populaires_box2, .populaires_box3{
            width: 830px;
            max-height: 150px;
            margin-bottom: 30px;
            margin-top: -10px;
            justify-self: center;
        }

        .populaires_image{
            width: 310px;
            height: 150px;
        }

        .populaire_box_texte{
            width: 300px;
        }


        #activités{
            grid-area: acti;

            display: grid;
            grid-template-columns:10px repeat(2,2fr) 10px;
            grid-column-gap: 40px;
            grid-template-areas:
            ". . . ."
            ". activitéstitre . ."
            ". activités1 activités2 ."
            ". . activités3 ."
            ". activités4 activités5 ."
            ". . activités6 .";
        }

            .activité_box1{
                grid-area: activités1 ;
                grid-row: activités1 / span 2;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 100px;
            }

            .activité_box2{
                grid-area: activités2;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-block-end: 7%;
            }

            .activité_box3{
                grid-area: activités6;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 0px;
                margin-block-end: 7%;
            }
            
            .activité_box4{
                grid-area: activités4;
                grid-row: activités4 / span 2;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 0px;
                margin-block-end: 7%;
                margin-top: -85px;
            }

            .activité_box5{
                grid-area: activités3;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-block-end: 23%;
            }

            .activité_box6{
                grid-area: activités5;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 0px;
                margin-block-end: 7%;
            }

            .activité_image_fort
            {
                width: 100%;
                height: 150px;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }

            .activité_image_dame
            {
                width: 100%;
                height: 150px;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }

            .activité_image_span
            {
                width: 100%;
                height: 375px; 
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }

            .activité_image_parc
            {
                width: 100%;
                height: 130px;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                object-fit: cover;
            }


            #footer{
                background-color: #F2F2F2 ;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
                grid-template-rows: 2fr 1fr 1fr 1fr;
                grid-template-areas: 
                ". p h a ."
                ". f ch ce ."
                ". co s n ."
                ". d . . .";
            }

}




@media (max-width: 767px){




/* Header  (max-width: 425px) */    
    #titre{
        display: grid;
        padding-top: 20px;
        grid-template-columns: 1fr 2fr 1fr ;
        grid-template-areas:
        " logo . inscription "
        " nav nav nav ";
    }



    .logo{
        grid-area: logo;
        display: flex;
        align-items: flex-end;
        margin-left: 15px;
    }
        .logo_reservia{
            width: 100px;
        }

    #barre_nav{
        grid-area: nav /span 4 ;

    }

        .barre_nav{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "heber_nav acti_nav";

            list-style: none;
            margin-block-start: 5%;
            padding-inline-start: 0px;
        }


            .hebergements{
                display: flex;
                justify-content: center;
                grid-area: heber_nav;
                color: #0065FC;
                border-bottom: solid #0065FC;
                padding-bottom: 15px;
                padding-inline-start: 0px;
            }
                .ancres_hebergements:link{
                    border-top: none;
                }

            .activités{
                display: flex;
                justify-content: center;
                grid-area: acti_nav;
                border-bottom: solid #F2F2F2;
                padding-bottom: 15px;
                padding-inline-start: 0px;
            }

            .activités:active{
                display: flex;
                justify-content: center;
                grid-area: acti_nav;
                border-bottom: solid #F2F2F2;
                padding-bottom: 15px;
                padding-inline-start: 0px;
            }

            .ancres_activités:hover, .ancres_activités:active, .ancres_activités:link{
                border: none;
                color: black;
            }

    .inscrire{
        grid-area: inscription;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        font-weight: 900;
    }




            #body1{
                display: grid;
                grid-template-columns: 6fr;;
                grid-gap: 0px;
                row-gap: 15px;
                grid-template-areas:
                "recherche" 
                "populaires"
                "hebergements"
                "acti";
            }    
/* Recherche (max-width: 425px) */
            #recherche{
                grid-area: recherche;
                display: grid;
                row-gap: 15px;
                grid-template-columns: 0.1fr 1fr 0.1fr;
                grid-template-rows: 0fr 0fr 0fr 0fr;
                grid-template-areas: 
                ". titre_recherche ."
                ". insert_recherche ."
                ". filtres_recherche ."
                ". info_recherche .";
            }

                .texte_recherche2{
                    margin-block-start: 0em;
                }

                .recherche_input{
                    margin-right: -15px;
                }

                .recherche_bouton{
                    display: none;
                }


                .recherche_icon_recherche{
                    color: white;
                    font-size: 14px;
                }

                .recherche_bouton_icon, .recherche_bouton_icon:link,  .recherche_bouton_icon:active, .recherche_bouton_icon:visited{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-radius: 10px;
                    height: 42px;
                    width: 13%;
                    font-size: 16px;
                    color: white;
                    background-color: #0065FC;
                }

                .filtres{
                    grid-area: filtres_recherche;
        
                    display: grid;
                    font-size: 15px;
                    grid-template-columns: 1.3fr 1fr;
                    grid-gap: 20px;        
                    grid-template-areas: 
                    "txt ."
                    "eco fami"
                    "roman ."
                    "anim .";
                }

                #animaux{
                    grid-area: anim /span 2;
                    margin-right: auto;
                }

                    .filtres_titre{
                        margin-bottom: -15px;
                    }


                #info{
                    font-size: 14px;
                }

                .info_icon{
                    height: 25px;
                }


                .texte_info{
                    margin-inline-start: 15px;
                }

/* Les plus populaires (max-width: 425px)*/
        #populaires{
            grid-area: populaires;
            background-color: #F2F2F2;
            border-radius: 0px;


            display: grid;
            grid-template-columns: 0.2fr 7fr 0.2fr;
            grid-template-rows: 5px 1fr 2fr 2fr 2fr;
            grid-template-areas: 
            ". . ."
            ". populairetitre ."
            ". populaire1 ."
            ". populaire2 ."
            ". populaire3 .";
        }

        .populaires_titre{
            padding-right: 5px;
            padding-left: 5px;
        }

        .populaires_box1, .populaires_box2, .populaires_box3{
            width: 330px;
            max-height: 130px;
            margin-bottom: 30px;
            margin-top: -10px;
        }

        .populaires_image{
            width: 110px;
            height: 130px;
        }

        .note_populaire{
            margin-block-start: 15%;
        }



/* Hebergement (max-width: 425px) */
            #hebergements{
                grid-area: hebergements;
                background-color: white;
                border-radius: 30px;      
                display: grid;
                grid-template-rows:0.8fr repeat(6, 2fr) 0.5fr;
                grid-row-gap: 20px;
                grid-template-columns: 20px 2fr 20px;
                grid-template-areas: 
                ". titre ."
                ". annonce1 ."
                ". annonce2 ."
                ". annonce3 ."
                ". annonce4 ."
                ". annonce5 ."
                ". annonce6 ."
                ". afficher .";
                }


                .hebergements_box1, .hebergements_box2, .hebergements_box3, .hebergements_box4, .hebergements_box5, .hebergements_box6{
                    width: 100%;
                }


/* Activité (max-width: 425px) */
            #activités{
                grid-area: acti;
                display: grid;
                grid-template-columns:0.1fr 2fr 0.1fr;
                grid-column-gap: 0px;
                grid-template-areas:
                ". activitéstitre ."
                ". activités1 ."
                ". activités2 ."
                ". activités3 ."
                ". activités4 ." 
                ". activités5 ."
                ". activités6 .";
            }
            .activité_box1{
                grid-area: activités1 ;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 15px;
            }

            .activité_box2{
                grid-area: activités2;
                margin-block-end: 3%;
            }

            .activité_box3{
                grid-area: activités3;
                margin-bottom: 0px;
                margin-block-end: 25%;
            }  
            
            .activité_box4{
                grid-area: activités4;
                border-radius: 30px;
                box-shadow: 0px 5px 10px 0pc rgb(242 242 242);
                margin-bottom: 15px;
            }

            .activité_box5{
                grid-area: activités5;
                margin-block-end: 25%;
            }

            .activité_box6{
                grid-area: activités6;
                margin-bottom: 0px;
                margin-block-end: 7%;
            }

            .activité_image_span{
                height: 130px;
            }

            .activité_image{
                height: 130px;
            }

            .activité_image_fort, .activité_image_dame{
                height: 130px;
            }


/* Footer (max-width: 425px) */
            #footer{
            background-color: #F2F2F2 ;
            padding-bottom: 15px;
            display: grid;
            grid-template-columns: 0.1fr 1fr 0.1fr;
            grid-template-areas: 
            ". p ."
            ". f ."
            ". co ."
            ". d ."
            ". h ."
            ". ch ."
            ". s ."
            ". a ."
            ". ce ."
            ". n .";
            }


            .f, .co, .d, .ch, .s, .ce, .n{
                height: 35px;
            }
            
    }
